[2015-02-18 00:48] porteriffic opened #1 "Community Building Plan"
Focus on fleshing out CBP. (Especially for producers). Include frequency of contacting producers (and team).

[2015-02-18 00:50] porteriffic opened #2 "CF Backers Perks"
Go through CF Backers Email List and list how many podcasts they "owe" us.
Email CF Backers. Find out if they already have podcasts prepared or if they need to record a podcast. If they need to record a podcast. Have Corey assign podcasts to team members once podcasts have been received.

[2015-02-18 00:56] porteriffic opened #3 "Community Building - Gender/Geographical Metrics"
Send an email out to producers (and the team) and show them gender and geographical statistics (from Google Analytics and Libsyn). Encourage more female producers/voices and voices/listeners from Asia and other non-English speaking countries.

*Part of Community Building Plan*

[2015-02-18 01:00] porteriffic opened #4 "Reschedule Test Podcast with Raphale Deluzio"
Call Raphael Deluzio to reschedule a podcast recording with him. Roger and Raphael can discuss choosing a topic 15 minutes prior to recording OR they may discuss over the phone (if that's what Raphael prefers).

[2015-02-18 01:01] porteriffic opened #5 "Promoting International Women's Day - Patrica Correia"
Roger has contacted her to ask about recording a podcast. Waiting to hear back. Helping to promote International Women's Day on March 8th.

Will need forms ASAP once she agrees. Will also need cheat sheets.

[2015-02-18 01:17] porteriffic commented on #2
Done with the list. Need to email CF Backers.

*Create a email template for backers*

[2015-02-19 19:04] porteriffic commented on #5
Recording date on March 5th?

[2015-02-19 19:22] porteriffic commented on #4
Called Raphael, record podcast at 10 am our time. Will talk about his TED topic or research he is doing with students. Confirming appointment with Nancy.

[2015-02-19 19:31] porteriffic commented on #5
March 5th date settled, need to figure out a time (be aware of time zone difference).

[2015-02-19 20:22] porteriffic opened #6 "International Women's Day - Producer Email"
Send an email out to producers that are involved in International Women's Day. Have them do a social media push for this day.

[2015-02-20 18:14] porteriffic opened #7 "CF Email Template"
Forms, documents and info to respond with to the backers.

[2015-02-23 19:00] porteriffic commented on #4
Done. Podcast has been recorded.

[2015-02-23 19:00] #4 closed

[2015-02-23 19:01] porteriffic commented on #6
Email is in draft, ready to be sent.

[2015-02-23 19:02] porteriffic commented on #3
Email is a draft, ready to be sent

[2015-02-23 19:03] porteriffic commented on #5
Date of Recording: March 5th, 9:30am.

*Proposal for podcasts from Patricia*
1) Roots of Curiosity project - in english
-conceptual motivation to do this arts and science project
-how the project was developed (choosing 5 pairs of artist-scientist, residencies...)
-outcomes: 3 day performance + workshops

2) Roots of Curiosity conference - in portuguese
-context of Roots of Curiosity project
-conf

[2015-02-23 19:04] porteriffic commented on #2
Email has been sent to ALL backers.

[2015-02-23 19:04] #2 closed

[2015-02-24 20:11] porteriffic opened #8 "Reminder for this week's Friday meeting"
Send out a reminder on Thursday for this week's meeting

[2015-02-24 20:11] porteriffic opened #9 "IWD Splash Page"
Collaborate with Stephanie on getting the IWD Splash page set up

[2015-02-26 19:48] #8 closed

[2015-02-26 19:49] #6 closed

[2015-02-26 19:49] #3 closed

[2015-03-02 18:39] porteriffic commented on #1
Work with Cassini, Vivek, and Chaz.

[2015-03-02 19:17] porteriffic opened #10 "Stingers to Work on"
Voices from the Crowd, Pioneers & Pathbreakers, and New Leonardo

[2015-03-02 19:29] porteriffic opened #11 "Upload Nil's podcast to Libsyn"
Publish by March 6th

[2015-03-02 21:56] porteriffic opened #12 "Cheat Sheets for Podcast Production"
Make them look nicer and condensed. Include update on new recording methods with Audacity. Add icons and such.

[2015-03-05 23:19] porteriffic commented on #9
Meet with Stephanie on 3/6 @ 11am

[2015-03-05 23:20] porteriffic commented on #5
Podcast recorded. Find out which channel to post this on.

[2015-03-05 23:20] porteriffic commented on #11
Draft is on Libsyn, Voices draft is on WP. Waiting for Nil to email me the podcast.

[2015-03-05 23:25] porteriffic opened #13 "Email for IWD"
Email producers to notify them of what we are doing on IWD and when it is happening. Encourage them to use hashtags for social media posts.

[2015-03-05 23:34] porteriffic commented on #5
Channel is Bold Roast, email Dropbox link.

[2015-03-05 23:39] cassininazir commented on #9
I'll join you both. Stephanie and I laid out the basic page at http://creativedisturbance.org/womensday.

[2015-03-05 23:41] porteriffic commented on #9
@cassininazir Excellent. See you then

[2015-03-13 17:46] #13 closed

[2015-03-13 17:46] #11 closed

[2015-03-13 17:46] #5 closed

[2015-03-13 17:46] #9 closed

[2015-03-13 17:47] porteriffic commented on #10
Voices of the Crowd (Albert's stinger), Pioneers & Pathbreakers, and Cinemersia (Corey will be working on New Leonardos)

[2015-03-13 17:48] porteriffic opened #14 "Update Production Process Document"
Update process document in the Google Drive.

[2015-03-13 17:49] porteriffic opened #15 "Earth Day"
Start planning for Earth Day (April 22).

[2015-03-13 17:51] porteriffic commented on #14
Script for Intros and Outros.

[2015-03-30 19:04] porteriffic opened #16 "Weekly Emails to Producers (Community Building)"
Email producers on a weekly basis. Don't wait for large announcements. Might be more likely to read email and keeps emails casual.

*Forms*
*Libsyn Stats*
*New Cheat Sheets*
*New Channels*
*Earth Day*
*Ask for listing of books (maybe audiobooks?)  we can sell through AddLibra*

[2015-03-30 19:26] porteriffic commented on #10
Done with Cinemersia. Work on P&P. Boom Library?

[2015-03-30 19:26] #7 closed

[2015-04-03 17:17] porteriffic opened #17 "Summer Plan"
Put together a summer plan for Creative Disturbance

[2015-04-03 17:21] porteriffic commented on #17
Compile list of those available over the summer

[2015-04-06 18:50] cassininazir commented on #17
Begun the document at https://docs.google.com/document/d/18uVPW-JRWcBVCAPnM9_SaCV_Qr3CyokumNdmArVyD4c/edit

[2015-04-11 02:43] rmalina opened #18 "correct check list to include language in podcast tites"
we agreed that all pod cast titles MUST include in brackets
at the end so people know what language the podcast is in without
having to click through

the last podcast in french went up without the language in brackets

please correct the appropriate check list

roger

[2015-04-12 03:27] vivraman opened #19 "Chipotle please"
Buy Vivek Chipotle @porteriffic

[2015-04-12 16:55] rmalina opened #20 "CD was not up on stitcher this morning-whats wrong"
CD was not up on stitcher this morning-whats wrong

can you dispatch this to the right person josephine !

roger

[2015-04-12 21:10] porteriffic commented on #18
I've added this to the checklist and agenda for next meeting.

[2015-04-12 21:12] porteriffic commented on #20
Not sure how to fix this. I'm not familiar with Stitcher enough. Let's discuss at next meeting.

[2015-04-13 18:28] porteriffic opened #21 "Create a Standard Agenda"
For Coordinator and Full Team Meeting

[2015-04-17 01:08] #14 closed

[2015-04-17 01:10] porteriffic opened #22 "Style Guide for Social Media Prep"
Need to create a style guide for social media push.

What needs to be included in emails, Twitter, FB, etc.

[2015-04-21 18:19] rmalina opened #23 "jabber training"
train all team members to use jabber so we can use jabber routinely for
group meetings with people who are remote

[2015-04-21 18:24] rmalina opened #24 "set up intellectual dating trackign system and report on them at team meeting"
we need an excel sheet to track all intellectual dating opportunites
and help make sure they are followed up on

this one needs to be added to the tracking list

roger

Rebekah, Susan,

I hope both of your weeks are treating you well! I had the pleasure of meeting Rebekah in person the other day and found out that she has a history of interest in the geosciences. Rebekah Nix is one of the producer

[2015-04-21 19:17] cassininazir opened #25 "Create a major events calendar using Google Calendar"
This should help us manage:

- Plan for and anticipate major events (such as Women's Day and Earth Day)
- Coverage: Team members on vacation or out

[2015-04-22 02:07] rmalina opened #26 "approval of fengineer channel"
Eun AH lee has met with me and described her proposal to start
a channel called FEMGINEER

i am approving this channel and have asked her to fill out the producer
form

roger

[2015-04-22 02:12] porteriffic commented on #26
Great! I will get in touch with her before this Friday's meeting. Still working on Earth Day.

[2015-04-27 13:58] rmalina opened #27 "Proposal to do Yuri's Night (April 12, 2016)"
colleagues

AUDIOLATS space exploration and the arts producers are proposing a theme week
for 12 april 2016

on the topic of the artist as space explorer

roger

About Yuri’s Night
Our Roots

Yuri’s Night is a global celebration of humanity’s past, present, and future in space. Yuri’s Night parties and events are held around the world every April in commemoration of Yuri Gagarin becoming the first

[2015-04-27 18:55] porteriffic opened #28 "Create a fun title for 100th podcast"
Come up with a creative name for the 100th podcast.

[2015-04-27 19:02] porteriffic opened #29 "Difficult Producers"
Send an email out to producers that have not completed forms during Monday meeting.

[2015-04-27 19:48] porteriffic commented on #23
Edit Jabber Guide Document on Google Drive

[2015-04-28 01:50] #19 closed

[2015-04-28 01:50] #20 closed

[2015-04-28 01:50] #15 closed

[2015-04-28 01:54] porteriffic opened #30 "Email Ann Maria De Mars (Ronda Rousey's mom)"
Ask Anna Maria De Mars if she can talk about STEM careers??? Possible podcasts?

[2015-04-28 17:16] rmalina opened #31 "Develop Cheat Sheet for ArtSciLab"
work with roger and brian
includes cisco system etc
develop a shared document with everyone so we can add
items that need instructions for

[2015-04-28 19:45] porteriffic commented on #30
annmaria@thejuliagroup.com

[2015-04-29 03:00] cassininazir commented on #30
Thanks, @kkondas for finding the email address! @porteriffic would love to see this happen.

[2015-04-29 03:53] porteriffic commented on #30
Yes, thank you, @kkondas! This will be my summer project! :+1:

[2015-04-29 21:31] cassininazir opened #32 "Create Slide Deck on Creative Disturbance"
Auto-playing Keynote file for use in the Art Fair on May 1.

[2015-04-30 15:55] rmalina opened #33 "finalise ashton's job description"
cassini
i have made you ashton;s official supervisor-this means you have
to approve his time sheets evert two weeks

also as part of this can you take a look at his job description
in the job description document and clean it up/finalise it

include also training plan
including cisco jabber system and echo360

roger

[2015-05-05 13:31] rmalina opened #34 "send out call for polyglot podcasts"
josephine
can you
edit/clean up for typos
check the email address
check/add to the language list

then send out to all producers and voices immediately

thanks

roger

CALL FOR PODCASTS TO ALL CREATIVE DISTURBANCE PRODUCERS AND VOICES

Creative Disturbance International POLYGLOT DAY June 21 2015

Creative Disturbance is pleased to feature POLYGLOT day to promote linguistic and disciplinary diversi

[2015-05-05 13:32] rmalina opened #35 "Decide Theme for July"
corey
at the next production meeting please organise the group to decide
the july theme and start soliciting podcasts

this needs to be done by may 12 latest

roger

[2015-05-05 19:04] porteriffic opened #36 "Follow Up with Amal"
Touch bases with Amal and offer assistance

[2015-05-05 19:12] porteriffic opened #37 "Gmail Voices"
Compile list of all Voices on CD

[2015-05-05 19:17] rmalina opened #38 "Nahum Mantra Intellectual Dating"
can you add this to the intellectual dating tracking list
also he can do it in spanish for the june 21 polyglot day

i could do it in english-but if you can find someone to do
it in spanish that would be great

he is in mexico city

roger

nahum.mantra@gmail.com
Nahum
Apr 6

to roger
Dear Roger,

Thank you so much! I have put so much energy in this project for two years and now glad it is seeing t

[2015-05-05 19:22] porteriffic commented on #38
I've added him to the tracking sheet. Are you following up with him to do a podcast? I can help find someone who can speak Spanish to host.

[2015-05-05 22:25] rmalina commented on #38
josephie-can youfollow up to get this scheduled in spanish before june 21 ?

the mexican studens that yvan is friendly with could surely help

i am happy to do one in english

roger

[2015-05-05 22:26] rmalina commented on #37
i am sure stephanie has an email list- but it needs to be systematicised so new
voices are added to it by the production team as they post new podcasts

new voices should be being informed when their podcast just went up

roger

[2015-05-06 00:32] porteriffic commented on #38
Sure. I can work with Yvan to get this up before June 21st.

[2015-05-06 03:28] cassininazir commented on #37
Josephine, Anvit can get you a list of voices that are on the website. He can also tell you whether we have their email addresses in the online database. If we aren't tracking, please have him open a task to do so.

Sent from my iPhone

On May 5, 2015, at 3:26 PM, rmalina <notifications@github.com<mailto:notifications@github.com>> wrote:

i am sure stephanie has an email list- but it needs to be s

[2015-05-07 02:15] porteriffic commented on #37
These are all the emails of Voices. I've contacted Anvit. Will need a little more time (I had one last final today), expect the email to be sent out tomorrow. Sorry for the delay.

Adrian Avendaño

Ana Rita Fonseca

Andrew Scott

Brian Burhnam

Carolyn DeCristofano

Carolyne Ojwang

Citalli Sanchez

Craig Anderson

Diane Burko

Florian Grond

Gustavo Andres Vallejo Garcia

Huda Hashim

Humphrey Mu

[2015-05-07 02:21] rmalina commented on #37
can you send the email to producers now and then to voices when you have the list- we have to give them time to do podcasts for polyglot. roger

[2015-05-07 02:38] rmalina opened #39 "Add $500 Kickstarter Donors as "Disturbing Advisors""
josephine
we need to add all kickstarter donors above $500 to the team page
as disturbing advisors and involve them in selecting the students

roger

here is one

Arun Augustine

 #8
 4 backed
 Richardson, TX
 arun@planaut.com
InfoSend message
Survey response
Responded on May 1 2015
Name & address
Arun Augustine
1235 Brookdale Ave
Mountain View CA 94040-3023
UNITED STATES
What size(s) would like y

[2015-05-07 02:40] rmalina opened #40 "transfer kickstarter implementation duties"
stephanie will not have finished implementing all the commitments
we made to kickstarter donors before she leaves ( eg the student grants)
we need to discuss with her a to do list and transfer these duties to someone else
roger

[2015-05-07 02:43] rmalina commented on #39
here is a second disturbing advisor
roger

Name & address
Dr. Diane Gromala
834A Thirteenth St
New Westminster BC V3M 4M9
CANADA
What size(s) would like your T-shirts to be? (Available sizes: XS, S, M, L, XL) Example answer: 1 XS, 1 M.
XL
Are you interested in serving on the DAB (Disturbing Advisory Board)?
yes
Collected
$500 pledged

Reward: $500

Shipping: Canada

Everything offered above; PLUS

[2015-05-07 02:44] rmalina commented on #39
another one
but check with yvan first
roger
Survey response
Responded on Mar 15 2015
Name & address
TINA Anna
17 avenue du Rozier
Résidence du lac appartement 013
61140 Bagnoles de l'Orne
FRANCE
What size(s) would like your T-shirts to be? (Available sizes: XS, S, M, L, XL) Example answer: 1 XS, 1 M.
XL
Are you interested in serving on the DAB (Disturbing Advisory Board)?
NON
Collected
$500 pledge

[2015-05-07 03:01] porteriffic commented on #37
Yes. Email to producers sent. Will send email to Voices tomorrow.

[2015-05-08 01:56] porteriffic commented on #37
Email to Voices has been sent out.

[2015-05-08 01:56] #37 closed

[2015-05-08 01:57] porteriffic commented on #40
Meeting with Stephanie tomorrow to discuss

[2015-05-08 02:04] porteriffic commented on #34
Email has been sent out to both Producers AND Voices

[2015-05-08 02:04] #34 closed

[2015-05-08 21:09] porteriffic commented on #36
Contacted Amal and offered assistance when she begins her project in June. Will send her updated cheat sheets when Corey completes them.

[2015-05-08 21:09] #36 closed

[2015-05-08 21:17] porteriffic commented on #40
Spoke with Stephanie about Kickstarted duties. She is wrapping up these and should be done by the time she leaves. Will work with her to get the perk fulfillment mailed out.

[2015-05-08 21:17] #40 closed

[2015-05-08 21:41] porteriffic commented on #26
Touched bases with Eun Ah. Will need a podcast from her to go up when the Femgineers Channel goes live. Logo is in the works.

[2015-05-08 21:41] #26 closed

[2015-05-08 21:43] porteriffic commented on #39
@cassininazir Will need your help with this. I can gather the names but will need help getting it up on the website.

[2015-05-08 21:45] porteriffic commented on #23
Duplicated Issue.

[2015-05-08 21:45] #23 closed

[2015-05-08 22:09] porteriffic commented on #22
Work with @cassininazir during summer

[2015-05-08 22:11] porteriffic commented on #25
Google Calendar created under Creative Disturbance Gmail account. Everyone should have access to the email. Still waiting for vacation time from team to add to calendar.

[2015-05-08 22:14] porteriffic commented on #21
Done and implemented

[2015-05-08 22:14] #21 closed

[2015-05-08 22:16] porteriffic commented on #16
Add this to community building plan on Google Drive. Been emailing producers and voices

[2015-05-08 22:16] #16 closed

[2015-05-09 14:46] rmalina opened #41 "Podcast in Bengali with Dhru"
josephine

yeah ! hope you can make this happend
roger

Dhruba Deb <dhrubadeb@gmail.com>

cc:	Debayan Ghosh <debayanghosh.deb@gmail.com
Hi Roger,

I saw the email on call for podcasts on additional languages. I was talking to my friend Debayan (cc'd here) on East Indian culture and its influence and manifestation in art and science. We can record a podcast over skype in Bengali (along with English

[2015-05-10 23:11] porteriffic commented on #41
Contacted Dhru. Will be coordinating with him during this week.

[2015-05-11 17:55] porteriffic commented on #18
Has already been modified in checklist

[2015-05-11 17:55] #18 closed

[2015-05-11 18:48] porteriffic opened #42 "Splash Page Procedure"
Create a procedure on how to create a splash page for theme days on WP. Will be located on Google Drive.

[2015-05-11 18:54] porteriffic opened #43 "Contact Lina About Graphic Design"
See if Lina will take over Stephanie's graphic design responsibilities.

[2015-05-11 18:56] porteriffic opened #44 "Contact Sruthi"
Transfer any tasks production team can do. Set up a short meeting so everyone is trained in created channel pages and document a procedure.

[2015-05-11 19:09] cassininazir commented on #43
@linamoon, would like to begin phasing you into doing design work for Creative Disturbance. Could you setup a meeting with @heiwanalady (Stephanie) possibly early next week (May 18 or thereabouts) to discuss? I can Skype in as necessary.

[2015-05-11 19:10] porteriffic opened #45 "Producers and Voices"
Email everyone about current podcasts for Polyglot (Bengali and Spanish). Also let them know the deadline for podcasts (with completed forms) is June 14th.

[2015-05-11 19:12] porteriffic opened #46 "Contact these people for Polyglot podcasts"
Moon Kim (Korean), Darren (German), Stephanie (Japanese)

[2015-05-13 02:09] porteriffic commented on #1
Tag @mitpress on Twitter so they can retweet.

[2015-05-13 22:47] porteriffic commented on #44
Emailed Sruthi, waiting for response.

[2015-05-13 22:50] porteriffic commented on #45
Email sent

[2015-05-13 22:50] #45 closed

[2015-05-13 23:13] porteriffic commented on #38
Contacted Yvan, Dario and Manuel would be willing to record with Nahum. Just contacted Nahum, waiting to hear back.

[2015-05-13 23:15] porteriffic commented on #22
This should be included in the community building plan. Closing and moving to Community Building Plan.

[2015-05-13 23:15] #22 closed

[2015-05-13 23:15] porteriffic commented on #1
Dedicate a section to Social Media Prep

[2015-05-13 23:15] porteriffic commented on #1
Located in Google Drive. CD 2.1.5 Community Building Plan.

https://docs.google.com/document/d/1qOUdULI8sq3-Lls5S6obyZDaVqEG_tt4aHdpKh75S5w/edit

[2015-05-13 23:16] porteriffic commented on #46
@heiwanlady Would you be able to do a podcast in Japanese for Polyglot day?

[2015-05-13 23:30] porteriffic commented on #24
Already created and in Google Drive. CD 2.1 Community Involvement Tracking Sheet.

https://docs.google.com/document/d/1qOUdULI8sq3-Lls5S6obyZDaVqEG_tt4aHdpKh75S5w/edit

[2015-05-13 23:30] #24 closed

[2015-05-13 23:47] porteriffic commented on #35
**Ideas:**

July 8: Video Games Day
July 11: World Population Day
July 13: Embrace Your Geekness Day
July 14: Josephine's Birthday (Just kidding. But not really. But just kidding)
July 15: World Youth Skills Day
July 30: International Day of Friendship

[2015-05-14 18:39] porteriffic commented on #44
Sruthi will meet during sound team meeting on Monday to transfer tasks.

[2015-05-14 18:39] #44 closed

[2015-05-14 22:06] porteriffic opened #47 "Create a Style Guide for Emails"
Need a template for sending emails out to the community.

Template for upcoming events, podcasts, metrics, coordinating, etc.

[2015-05-15 20:34] porteriffic commented on #46
@yvantina Are you recording a podcast with Max and Darren for Polyglot Day?

[2015-05-15 22:01] porteriffic commented on #42
CD 2.2.6.1 Splash Page Procedure
https://docs.google.com/document/d/1UTMi35cU1sZk7z6KbefUQ-ZMkyztFyA-lH6Knl6BFH4/edit

Will flesh out a little more today.

[2015-05-15 22:01] #42 closed

[2015-05-15 22:11] porteriffic opened #48 "Create a Style Guide for Dropbox Procedure"
How to share folders with Producers. How to create a new folder for a channel. What goes in the folder. So on and so forth.

[2015-05-15 22:35] porteriffic commented on #46
@amb141330 will contact Moon Kim about recording a podcast.

[2015-05-16 17:28] yvantina commented on #46
Yep
Le 15 mai 2015 15:34, "porteriffic" <notifications@github.com> a écrit :

[2015-05-18 18:56] porteriffic commented on #35
One thing to consider about July 13: What does "geek" mean to an international community?

[2015-05-18 18:56] coreysmart92 commented on #35
Embrace Your Geekness Day. Does it need to be renamed or presented day?

[2015-05-18 19:30] porteriffic commented on #41
Last heard from Dhru 5/12. He is coordinating with his podcast Voices and will update me accordingly.

[2015-05-18 19:30] porteriffic commented on #47
Use Cassini's redesigns

[2015-05-18 19:32] porteriffic commented on #38
Trying to put Nahum Mantra in contact with Dario and Manuel. Last heard from him 5/15

[2015-05-18 20:19] rmalina commented on #35
geek is not an internationally understood word culturally

[2015-05-18 20:23] rmalina opened #49 "Kyle - Update Job Description"
kyle
can you update your job description in the job description book and set up
a skype with me
roger

[2015-05-19 04:09] cassininazir commented on #47
Working on final version of write up here is example of template so far.

![template](https://cloud.githubusercontent.com/assets/1661430/7695280/e5702ba6-fdb2-11e4-8c31-2490a199f298.jpg)

[2015-05-19 04:23] cassininazir commented on #17
This is now in [CD 1.2.3 Summer Plan] (https://docs.google.com/document/d/18uVPW-JRWcBVCAPnM9_SaCV_Qr3CyokumNdmArVyD4c/edit). Closing.

[2015-05-19 04:23] #17 closed

[2015-05-19 04:29] cassininazir commented on #39
Am assigning this to you, @halclark.

This is dependent on [Podcast #52] (https://github.com/creativedisturbance/podcasts/issues/52). Work with Anvit, Sruthi, Josephine or myself if you have any questions about website editing.

These updates should appear on the [Meet the Team page] (http://creativedisturbance.org/meet-the-team/), after the Small World Team and before CD Alumni with the heading *

[2015-05-19 04:30] cassininazir commented on #32
Won't implement.

[2015-05-19 04:30] #32 closed

[2015-05-19 04:31] cassininazir commented on #43
Magic is happening. Lina and Stephanie meeting tomorrow (May 19) to discuss. @cassininazir will try to Skype in.

[2015-05-19 04:31] #43 closed

[2015-05-19 04:46] cassininazir commented on #33
@amb141330 including you on this:

Have gone through and edited the (Job Descriptions doc, CD 1.1.9) [https://docs.google.com/document/d/1S_gCMBh_bJ-geYY_OQQ_1PgPBMYz1pMAypJR0ksYJSU/edit], see 11. Ashton Brilliante.

@amb141330 Please review and let me know if you have any questions or if you feel anything was left out.

[2015-05-19 04:46] #33 closed

[2015-05-19 05:09] cassininazir opened #50 "Password Changes"
Update end of month.

[2015-05-19 17:24] heiwanalady commented on #46
Ha.. Maybe, maybe not. I would suggest maybe Midori Kitagawa here on
campus. Or if we could somehow get in contact with Joi Ito from the MIT
Media Lab  :)

On Wed, May 13, 2015 at 6:17 PM, porteriffic <notifications@github.com>
wrote:

[2015-05-19 22:05] porteriffic commented on #47
Created a brief guideline. I've asked Stephanie to take a look when she gets a chance. @cassininazir You are welcome to add to it as well.

[CD 2.2.6.4 Emails to Producers and Voices](https://docs.google.com/document/d/1l8OuGDLnWTP17HUtzj3A_7UTVcc4_Kb9T61QKRScG-c/edit)

[2015-05-19 22:10] cassininazir commented on #47
This is very good. Uploaded the intriguingly awfully titled (How to Create Email Newsletters that Don't Suck) [https://drive.google.com/open?id=0BwvQhnxKj6jFcV9QRnpFRmx5NmM&authuser=0] from HubSpot to Google docs. Recommend reviewing that as well.

[2015-05-19 22:15] porteriffic commented on #30
I'll email her once I get my official Creative Disturbance email address linked with my current one so I don't look like some creeper.

[2015-05-19 22:18] porteriffic commented on #29
May not be an issue once Google Forms are in place

[2015-05-19 22:41] cassininazir commented on #29
Let's hope.

[2015-05-19 23:25] yvantina commented on #46
@heiwanalady @porteriffic @rmalina
I am trying to get a japanese podcast from friends in Tokyo ;) but please go ahead with Midori K. if you can.. Joichi may be reachable through Roger but not sure he would like to make a podcast though (even in japanese)..that would be awesome..

[2015-05-20 22:54] porteriffic commented on #46
@yvantina I'm afraid Roger might be too busy. If you could get a Japanese podcast from your friends that would be great!

[2015-05-20 23:50] porteriffic commented on #38
Introduced Nahum to Dario and Manuel. They will be collaborating to do a podcast in Spanish. This has been added to the [Community Involvement Document](https://drive.google.com/drive/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFVVV3U3pvMEstN1E/0B47T3_SpQdTWfjBockExZkdjQmt4RE0yeGNDX082M3hlZ1dDNDNRTE9UaWVrc0NrR0RXVTQ) located in the Google Drive.

[2015-05-20 23:51] porteriffic commented on #35
@coreysmart92 Let's add this to the agenda for Monday's meeting (5/25) to rediscuss.

[2015-05-21 07:26] rmalina opened #51 "Add Polglot Stats to Current Metrics (June 22nd)"
add to the regular metrics a section on polyglot stats
on number of podcasts in each language, but also discipline stats

roger

[2015-05-21 20:49] cassininazir opened #52 "New Process for Metrics"
@porteriffic would like to improve the process for getting and storing metrics.

Have created the folder [7.0 Metrics] (https://drive.google.com/drive/u/0/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFflhqR29LcG1tRlRwNU9aMkM3SlNfQUppVVZCNkYwUjI4ekRGQVFCVHI4YmM) in Google Drive.

And started the document [2015-05-25 Metrics for Prior Week 17-23 May] (https://docs.google.com/document/d/19JoSFWgs

[2015-05-22 19:30] cassininazir opened #53 "Create Hand-off Template for Students"
This should allow any of the lab students to be able to wrap up at the end of semesters effectively and transfer knowledge.

Initial thoughts on document outline:

- Scope
- Responsibilities, duties
- Passwords
- Code
- ??

[2015-05-22 19:33] cassininazir commented on #52
Am recommending we adapt (Google's HEART framework) [https://www.gv.com/lib/how-to-choose-the-right-ux-metrics-for-your-product] for our metrics:

- **Happiness**: measures of user attitudes, often collected via survey. For example: satisfaction, perceived ease of use, and net-promoter score.
- **Engagement**: level of user involvement, typically measured via behavioral proxies such as frequency,

[2015-05-23 01:49] porteriffic commented on #52
@cassininazir Should I wait until Sunday night to compile metrics? That's what I've been doing...

[2015-05-23 01:58] porteriffic commented on #1
Added a few more things. Would like to sit down with @cassininazir to talk about it more.

[2015-05-23 02:19] cassininazir commented on #52
Yes. Hope to make this an automated process at some point.

Sent from my iPhone

On May 22, 2015, at 6:49 PM, porteriffic <notifications@github.com<mailto:notifications@github.com>> wrote:

@cassininazir<https://github.com/cassininazir> Should I wait until Sunday night to compile metrics? That's what I've been doing...

�
Reply to this email directly or view it on GitHub<https://github.com/creativ

[2015-05-23 17:44] cassininazir commented on #52
Excellent additions, Josephine. When new forms are up, would like the web team to then focus attention on implementing [BuddyPress] (www.buddypress.org) (it's installed on the production server currently and needs to be configured). Some of what you detailed in the can be compiled from BuddyPress.

[2015-05-24 02:36] porteriffic commented on #52
@cassininazir I've added this week's metrics to the document (I had to do it tonight since I won't have time tomorrow night to do it). Didn't have anything from Bitly since no links were used. I'm still unfamiliar with how to access Stitcher stats, so there isn't anything from Stitcher.

[2015-05-24 02:36] #52 closed

[2015-05-24 03:06] porteriffic commented on #51
Will add Polyglot stats to regular metrics for that week.

[2015-05-24 03:56] cassininazir commented on #52
Good. Let's templatize the content we want to watch. Am hoping there's a way for us to automate this.

[2015-05-25 19:05] cassininazir opened #54 "How can we record Jabber sessions"
Find out how we may record Jabber sessions and create a sheet for it. Let's discuss in our Tuesday session.

[2015-05-26 02:17] porteriffic commented on #48
Will be cleaning up DropBox this week and transitioning Producers over to new folders. Will work on Style Guide once that has been completed

[2015-05-26 15:00] rmalina opened #55 "set up new channel " on the margins' with poe johnson as a producer"
osephine

poe johnsom is setting up a new channel
called "on the margins" and has four podcasts
that need to be put in drop box

can you help him be trained as a producer
with all the necessary forms and cheat sheets
--
Roger F Malina

[2015-05-26 18:12] cassininazir opened #56 "Provide a demo of Echo360"
Please get up to date on Echo360 by June 9. What that includes:

- A demo recording, which might take the form of a tutorial
- Screen captures
- Explore the interface and become knowledgable about how to use/troubleshoot

Include any questions you have about the system.

Be ready to present in the Monday meeting on June 15.

[2015-05-26 18:28] amb141330 commented on #56
Will contact Echo360 at UT Dallas to setup a training seminar.

[2015-05-26 18:30] cassininazir commented on #56
Email from Echo360 people:

Thank you for requesting an Echo 360 account. Your account has been created, and your username is cnazir. Please call extension 4900 to receive your password and login instructions from a member of the Echo 360 team. Once you have your password you may login here - https://utdechoapp01.utdallas.edu:8443/ess/login.jsp and change your password. At your earliest convenienc

[2015-05-26 18:34] amb141330 commented on #54
We can check and see if we can use FRAPS with Jabber sessions.

http://stream-recorder.com/forum/record-save-capture-jabber-xmpp-video-chat-t9701.html

That link talks about two different options for recording those sessions as well.

[2015-05-26 18:34] cassininazir commented on #54
Please connect with Brian Merlo by end of week on this issue.

[2015-05-26 18:35] amb141330 commented on #54
Waiting to hear back from Brain.

[2015-05-26 18:46] amb141330 commented on #31
Duplicate of another issue under the Podcasts section.

[2015-05-26 18:46] #31 closed

[2015-05-26 21:28] porteriffic commented on #55
Will contact Poe Johnson this evening.

[2015-05-26 21:30] porteriffic opened #57 "VOTC Podcast with Dave Burraston"
Contact Dave and give him necessary cheat sheets for making a podcast for Voices of the Crowd.

[2015-05-27 02:31] porteriffic commented on #55
Contacted Poe. Will coordinate with him this week and probably next week.

@heiwanalady He'll need a logo for this channel. Roger says Poe has podcasts already recorded so this logo will be needed sooner than the Femgineers channel I'd imagine.

[2015-05-27 02:47] porteriffic commented on #57
Contacted Dave. Waiting to hear back.

[2015-05-27 03:02] porteriffic commented on #48
@cassininazir Would like your feedback. I've created the new folders but the only way I can share is if Dropbox sends an invite. For example, Roger's a producer for multiple channels, he'll multiple emails from Dropbox for each invite I send to him. Not sure how to handle this...

[2015-05-27 03:06] cassininazir commented on #48
I think that Roger will be the exception. I can't think of any other producers in the same boat, except perhaps Yvan. Because they are part of the project team, we can setup a folder for them specifically.

[2015-05-28 00:44] porteriffic commented on #41
Still haven't heard from Dhru.

[2015-05-28 07:15] rmalina opened #58 "Renew Expiring UTD Accounts"
stephanie

utd sometimes close student accounts- can you ssend an email to ALL CD team
telling them to tell you if they got an alert of an account closing down so brett
can renew it

roger

I just got an email saying my computer access and net ID will expire in early June. I will be working at the lab over the summer before I leave (July 25) - so will need computer access until then.

I've Cc'ed R

[2015-05-28 18:17] porteriffic commented on #58
I'm confused. I'm assigned to do this but Roger is talking to Stephanie...?

[2015-05-28 18:54] porteriffic commented on #55
Poe now has access to the Dropbox. He has yet to put anything in there and has not responded yet.

[2015-05-28 18:55] porteriffic commented on #57
I've given Dave cheat sheets. Waiting to hear back.

[2015-05-29 20:01] rmalina opened #59 "Student Grant to Egyptian Student"
podcast voice haytham nawar teaches at the american university in cairo egypt- he says he has a student that could produce some podcasts

haytham is at Haytham Nawar <haythamnawar@gmail.com>

yvan tina is a liaison as haytham just did a podcast on virtual africa channel

josephine you need to discuss this with stephanie as this would be implemented
after she leaves but you can contact haytham

rog

[2015-05-30 10:08] rmalina opened #60 "Intellectual Dating Opportunity with Women and Science in Australia"
josephine

can you add this to the intellectual dating tracking list
to be coordinated with eun ah

i offered that we post any podcasts they send us

thanks

roger

keith
ccc eun ah

happy to discuss ideas- if you have announcements
we can send them out through our leonardo network lists

i thought i would mention that on our creative disturbance platform
www.creativedisturbance.org
we are about t

[2015-06-01 16:01] heiwanalady commented on #55
@porteriffic  Got it. I think this will be a good one for Lina to start. Will email her about it.

[2015-06-01 16:04] heiwanalady opened #61 "Album Artworks to be Created"
* Rhythmically Inclined (Stephanie)
* On the Margins (Lina)
* Femgineers (Stephanie)

@linamoon
There is an issue opened already about this, and we can contact Poe Johnson (He will be producer of On the Margins) for more info on the channel - let me know if you need any additional help with this

[2015-06-01 18:10] linamoon commented on #61
@heiwanalady got it - is there a process + contact info for him so we can get the info for the channel?

[2015-06-02 00:39] yvantina opened #62 "More space on Dropbox !"
@porteriffic @coreysmart92 @kkondas Can't upload podcasts anymore. Need more space

[2015-06-02 01:36] porteriffic commented on #62
@kkondas assigning this to you. Would like you to help manage the Dropbox in the future.

[2015-06-02 01:37] porteriffic commented on #59
@heiwanalady Maybe we can Skype or meet up this week? I'm flexible.

[2015-06-02 01:38] porteriffic commented on #57
Still no response from Dave. (As of 6/1/2015)

[2015-06-02 01:40] porteriffic commented on #55
Dropbox is full. I think that's why he hasn't put any podcasts in. Assigned @kkondas to help manage the Dropbox.

[2015-06-02 01:56] porteriffic commented on #60
@rmalina I'll add to the Intellectual Tracking Sheet.

Just a heads up, Eun Ah won't be delivering her podcast to us until after June. In the mean time, Stephanie is already working on the logo and I'll be setting up her channel. It won't go live until I get a podcast from Eun Ah.

[2015-06-02 02:01] porteriffic commented on #51
Would like to do a small graphic for metrics after Polyglot Day to send to Producers and Voices. @heiwanalady or @linamoon Would either of you be able to help me?

[2015-06-02 02:11] #10 closed

[2015-06-02 02:11] #28 closed

[2015-06-02 02:12] porteriffic commented on #38
Will email Nahum to see how things are going this week.

[2015-06-02 02:14] porteriffic commented on #48
@cassininazir I've assigned Kyle to start helping the team manage Dropbox. I will help send out the emails but after that I will need someone to take over Dropbox issues.

[2015-06-02 02:53] kkondas commented on #62
@porteriffic I went through and backed-up and cleared podcast that I could tell have already been published. There should be room @yvantina to upload to dropbox.

[2015-06-02 02:58] yvantina commented on #62
cool ! thanks ;)

[2015-06-02 03:01] kkondas commented on #62
Welcome!

[2015-06-02 20:32] cassininazir commented on #62
Almost there. Need to delete a bit more:

![screen shot 2015-06-02 at 3 33 27 pm](https://cloud.githubusercontent.com/assets/1661430/7946498/8fc7c516-093c-11e5-8c7d-685f364f317a.png)

[2015-06-02 20:32] porteriffic commented on #62
@kkondas There is still not enough space on Dropbox. Did you clean up through your computer or through the Dropbox account?

[2015-06-02 20:35] cassininazir commented on #58
@heiwanalady reassigning to you.

[2015-06-02 20:49] porteriffic opened #63 "Metrics Graphic for Polyglot Day"
@linamoon Would like to create a small graphic like this one post Polyglot Day to send to Producers:

![creativedisturbance_diversitystats](https://cloud.githubusercontent.com/assets/10836612/7946836/cc2caea2-093e-11e5-8769-32bd5418a2ca.png)

[2015-06-02 21:10] kkondas commented on #62
@porteriffic @cassininazir I did it from my account because I thought I might the ability to do it from there. I'm logged into Dropbox now through the C.D. log-in. I've checked all of the folders went through last night and the files are gone. When accessing the garbage can(hide deleted items) there are a couple of grayed out folders that I guess can be deleted one more time, but I'm not seeing an

[2015-06-02 21:22] cassininazir commented on #62
The culprits:

![screen shot 2015-06-02 at 4 22 54 pm](https://cloud.githubusercontent.com/assets/1661430/7947573/8e0fc762-0943-11e5-836f-1743855eb35d.png)

[2015-06-03 02:01] kkondas opened #64 "With The Margins Folder"
Corey, I was able to alleviate some space on the dropbox, but the folder "Within The Margins", which is the folder that Poe Johson put all of his podcast in is eating up a lot of the space. It's mandatory that we get those podcast sassigned to the sound team and archived ASAP so we have more room in the dropbox.

[2015-06-03 02:44] linamoon commented on #63
@porteriffic Yes, can do - would you just need it as a jpeg?

[2015-06-03 03:19] porteriffic commented on #63
@linamoon I believe Stephanie made a png. We'll give you the metrics for this after Polyglot Day.

@heiwanalady Will a jpeg work?

[2015-06-03 03:22] heiwanalady commented on #63
@porteriffic JPEG.. Png... Anything works. You only need png if there's
transparency

On Tuesday, June 2, 2015, porteriffic <notifications@github.com> wrote:

--
--- Sent from Stephanie's iPhone ---

[2015-06-03 04:37] coreysmart92 commented on #64
I am scheduling them, but for short term I am moving them over to the Google drive [Needs Editing] (https://drive.google.com/drive/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFVVV3U3pvMEstN1E/0BwvQhnxKj6jFVU1rSGYwdmtIVmc/0B4M0we6AguJVNmV6dy11YkxjeUk) .
Close: When all files are on Google Drive.

[2015-06-03 06:11] coreysmart92 commented on #12
Closing because this is a duplicate of New Podcast Cheat Sheet, #64 in the Podcast issues tab.

[2015-06-03 06:11] #12 closed

[2015-06-03 10:29] coreysmart92 commented on #64
Closing it is now in [Needs Editing] (https://drive.google.com/drive/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFVVV3U3pvMEstN1E/0BwvQhnxKj6jFVU1rSGYwdmtIVmc/0B4M0we6AguJVNmV6dy11YkxjeUk/0B0RS2YDJUln1fkI5Yi1paTBJejBPRmNldFJRRnB0c181S0ZON2xyUzRJU0ZpRkxra2thR0E) folder on google drive.

[2015-06-03 10:29] #64 closed

[2015-06-03 16:06] coreysmart92 commented on #35
Tabled to next Sound meeting on 6/7/15.

[2015-06-03 16:23] kkondas commented on #62
There is space in the dropbox again.

[2015-06-03 16:23] #62 closed

[2015-06-03 18:18] rmalina opened #65 "Kickstarter Fulfillment"
stephanie
where do we stand on sending out tee shirts and stickers

roger
Lori Ibarra Drozd said:
I believe I responded to the survey, but I haven't received my sticker yet. Can we check and see if my survey response was submitted? Thank you!

[2015-06-03 18:21] rmalina commented on #35
you really need to decide the july theme-you are not leaving much time to generate
new podcasts related to the theme you pick !!

[2015-06-03 22:02] amb141330 commented on #56
Called and got my information. The person who sets up the training was not in the office today so I sent an email. Will call again tomorrow.

[2015-06-04 17:43] heiwanalady commented on #65
Will give a full report by Friday!

[2015-06-04 17:46] heiwanalady commented on #61
@linamoon yes! his email address: poejohnson@gmail.com
Basically, you can look at his Channel proposal and figure out if there's any inspiration you can derive from his idea that's visual. Show him your iterations and have him involved in the process - however, you don't need to rely on his opinions only. We just want to involve producers in our process.

[2015-06-04 17:51] heiwanalady commented on #59
@porteriffic I'm available! just let me know a time.

On Mon, Jun 1, 2015 at 8:37 PM, porteriffic <notifications@github.com>
wrote:

[2015-06-04 17:58] linamoon commented on #61
@heiwanalady is the Channel proposal in the Google Drive? Seeing a Channel Proposal Form (Responses) but nothing seems to be on there.

[2015-06-04 18:08] heiwanalady commented on #61
@linamoon Channel Proposal entries are in wufoo. https://dmarlett.wufoo.com/entries/creative-disturbance-new-channel-proposal-form/
Make sure to login with the new password (https://docs.google.com/document/d/1ipNxXHlGpEPgllR6QBQ2HF6vrOWRgLuhnngcUIqClxU/edit)

*Channel description:*
Within The Margins seeks to provide a space for thinkers, both inside and outside of the academy, to contextualize t

[2015-06-04 18:19] linamoon commented on #61
@heiwanalady is there also a suggested deadline? (obviously before podcast goes up)

[2015-06-04 18:21] heiwanalady commented on #61
@linamoon unfortunately Poe already has several podcasts ready to go (and we were notified late) so your deadline is as soon as possible. :) I would say you're looking at about a week. Is that enough?

If not - you can always contact Poe and/or the sound team to say you need more time. Let me know!

[2015-06-04 18:27] linamoon commented on #61
@heiwanalady sounds good enough :) is there a suggested deadline in general for podcasts? I guess I would look at the production tracking sheet?

[2015-06-04 18:29] heiwanalady commented on #61
@linamoon Yeah that would be your best bet on when the podcasts would come out. The podcast tracking sheet is updated every Monday.

[2015-06-05 08:42] rmalina opened #66 "Appoint First Creative Disturbers from Kickstarter Funds"
i had very succesful meetings in lisbon with patricia correia, anna rita fonseca and sam meyler
they have accepted to be our first creative disturbers with three $1000 grants to crowd source content
their channel will be called "roots of curiosity- with a formal launch planned for october when they have a book coming out with the same title

stephanie-i dont know if you have time to do this before

[2015-06-05 19:13] porteriffic commented on #57
Still no response from Dave. (As of 6/5/2015)

[2015-06-05 20:33] heiwanalady commented on #66
@rmalina - I will try and do as much as I can before I leave! I'm glad the
meeting went well! How was Lisbon?!

On Fri, Jun 5, 2015 at 3:42 AM, rmalina <notifications@github.com> wrote:

[2015-06-05 22:48] rmalina commented on #57
just put this action on hold-roger

[2015-06-06 10:15] rmalina opened #67 "no forms left on wufoo"
i am getting this message on wufoo
You have 3 forms left! Upgrade for more!
Upgrade Your Forms!
Never Run Out: Get unlimited forms & reports.
Online Payments: Accept payments on your forms.
Admin Users: Add multiple users to your account.

what do i need to do so i can keep filling out forms-or when are we moving to the new forms ?

not sure who this shouild be assigned to

roger

[2015-06-06 10:19] rmalina opened #68 "Dropbox Clean Up"
the voices from the crowd drop box still has sound files in it that have already appeared on creative disturbance and need to be moved out of drop box

whose job is it to move files out of drop box once they are posted on creative disturbance ?

for instance the ansari podcast is on line but still in the drop box

roger

[2015-06-07 01:00] porteriffic commented on #68
@kkondas Can you please look into this? Needs to be done ASAP.

[2015-06-07 01:05] porteriffic commented on #67
@rmalina That message has always been there. It's a little confusing. What it is actually saying is we have 3 form types left. We currently have 8 different form types (New Podcast Form, Guest Release Form, etc.).

@cassininazir Correct me if I'm wrong. I think we addressed this earlier this semester.

[2015-06-07 06:31] rmalina commented on #67
well i still got that message and it IS confusing-but its moot if we are about to start using the new form system

[2015-06-07 06:33] rmalina commented on #68
josephine-standard operating tasks should not be assigned to faculty members but to one of the production team-this is a standard operationg issue.roger

[2015-06-08 17:09] #67 closed

[2015-06-08 18:22] porteriffic opened #69 "Email Reminder to Voices and Producers (Polyglot)"
Send a reminder to Voices & Producers about Polyglot deadline.

[2015-06-08 18:31] coreysmart92 commented on #35
World Youth Skills Day or Video Games Day. Decide between the two. First one is very broad and the second is rather narrow.

[2015-06-08 20:39] rmalina commented on #35
my vote is for world youth day

[2015-06-09 19:07] porteriffic commented on #69
Sent out email reminder to Voices & Producers.

@yvantina Olga and Nahum were included in those emails.

[2015-06-09 19:07] #69 closed

[2015-06-09 19:08] porteriffic commented on #59
@heiwanalady Sorry for the late response. Can we Skype tomorrow morning? Around 10?

[2015-06-09 19:09] porteriffic commented on #38
Emailed Nahum a couple weeks back. Still have not heard back. Possibility we might not get a podcast in Spanish from him, which is okay because we have another podcast in Spanish in the works.

[2015-06-09 23:05] heiwanalady commented on #59
@porteriffic sure, that should work for me.

On Tue, Jun 9, 2015 at 2:08 PM, porteriffic <notifications@github.com>
wrote:

[2015-06-10 06:38] rmalina commented on #59
i am travelling today and cant do a skype but maybe you can go ahead and keep this moving
roger

[2015-06-11 20:38] porteriffic commented on #68
@halclark Please go through the Dropbox and prep it for Polyglot Day. Reach out to @amb141330 or I if you need assistance or have questions on what "prepping" entails.

[2015-06-13 12:21] rmalina opened #70 "update team page to move students who have graduated to alumni section"
please update the team members page to move hte studenst who have graduated to
the alumni section

leavel their bios and pictures there

tell them we are doing this and that they are still members of the team
 make sure we have their non utd email addresses and add them to our email lists

tell them they can nominate or recommend people for podcasts at any time

roger

[2015-06-13 12:22] rmalina opened #71 "remove the graduated students fro github"
remove hte graduated students from github so they arent getting emails
roger

[2015-06-13 12:33] rmalina opened #72 "Set Up "Pioneers in Print, Poetry & Performance between 1960s-1980s" Channel"
poe
can you work with josephine to set up bronac's
new creative disturbance channel "P4"

bronac you need to fill out a new channel form-
and get the new instructions for producers and
making podcasts
work wiht poe to set up bronac ferran's new channel

 Pioneers in Print, Poetry & Performance between 1960s-1980s

roger
roger

On Wed, Jun 10, 2015 at 1:24 PM, bronac ferran <bronacf@gmail.com> wrot

[2015-06-15 18:23] porteriffic opened #73 "Email to Producers (Metrics, Podcasts, etc)"
Email community about the following:

- ~~Emails about upcoming days in July and August~~
- Let producers know how their channel is doing and give them stats.
   - Emailed Scot and Tim so far. Will email more over the weekend and after I collect stats for Polyglot.
- If a producer isn't bringing in podcasts, let them know and encourage them and offer assistance.
   - Adventures of Crowdfunding wil

[2015-06-15 19:09] porteriffic opened #74 "Look Into More Storage Space for Dropbox"
Contact Brett.

[2015-06-16 03:33] porteriffic commented on #73
Started working on drafts for the these emails. Will send out top priority ones tomorrow and the others on Thursday.

[2015-06-17 00:43] porteriffic opened #75 "Update Voices on Gmail"
Add new voices to Voices mailing list on gmail

[2015-06-17 01:17] porteriffic commented on #75
Done

[2015-06-17 01:17] #75 closed

[2015-06-17 20:22] heiwanalady opened #76 "Transfer of Producer for The Bold Roast"
@porteriffic , Just got off a Skype with @rmalina

We need to discuss how to transfer producer duties to different person for The Bold Roast as well as discuss the possibility of using ArtSciLab alumni/alumna as the producers for the channel?

How do we keep the alumni/alumna involved after they've graduated and maintain that network?

I'd be open to co-producing on a team of students if that's a

[2015-06-18 00:07] sayloo commented on #76
I'd be more than happy to voluntarily work for the lab :+1:

[2015-06-18 00:51] porteriffic commented on #76
This issue has been on the back burner for a while. I'd be ore than happy to meet up to discuss.

@sayloo That would be awesome!

[2015-06-18 01:19] porteriffic opened #77 "Adventures in Crowdfunding"
@cassininazir @heiwanalady @rmalina Should we leave this channel up? It's been idle for quite some time.

[2015-06-18 01:47] porteriffic commented on #70
Emailed students that have graduated and moved them to "Alumni" section.

[2015-06-18 01:47] #70 closed

[2015-06-18 07:34] rmalina commented on #70
josephine-see stephanies email about bold roast channel and maybe trying to keep interested alumnae involved ! roger

[2015-06-18 07:36] rmalina commented on #77
let me check with david marlett what he wants to do= roger

[2015-06-18 07:39] rmalina commented on #77
i send this to david
david

minor item- we are reviewing the creative disturbance channels and a number
of them have been fairly inactive ( including my space and the arts channel)

are you planning any podcasts in the new two months on your two channels ?

--
Roger F Malina

[2015-06-19 22:48] porteriffic commented on #72
I've contacted Bronac about this channel. Waiting to hear back.

[2015-06-19 22:50] porteriffic commented on #55
His channel is up and running!

[2015-06-19 22:50] #55 closed

[2015-06-19 22:52] porteriffic commented on #38
Nahum and Dario were able to do a podcast in time for Polyglot. Will update tracking sheet.

[2015-06-19 22:52] #38 closed

[2015-06-19 22:53] porteriffic commented on #46
Were able to get one in German and in Japanese. All set for Polyglot Day!

[2015-06-19 22:53] #46 closed

[2015-06-19 22:55] porteriffic commented on #35
July theme is World Youth Skills Day. Also, decided one for August. Will as the community in the future for input. Possibly cast votes and such.

[2015-06-19 22:55] #35 closed

[2015-06-19 22:55] #25 closed

[2015-06-19 22:57] porteriffic commented on #50
All passwords have been updated.

[2015-06-19 22:57] #50 closed

[2015-06-19 22:59] yvantina commented on #46
Have just submitted the forms for a Space Art and Culture podcast in Spanish (Nahum Mantra and Ale de la Puente) ..

[2015-06-19 23:15] porteriffic commented on #46
There three voices on that podcast correct? Dario, Nahum and Ale de la
Puente?

On Fri, Jun 19, 2015 at 5:59 PM, yvantina <notifications@github.com> wrote:

[2015-06-19 23:16] porteriffic commented on #46
Nevermind I saw your notes. Sorry!

On Fri, Jun 19, 2015 at 6:15 PM, Josephine Porter <porteriffic@gmail.com>
wrote:

[2015-06-19 23:17] yvantina commented on #46
Yes
2 podcasts
Le 19 juin 2015 18:15, "porteriffic" <notifications@github.com> a écrit :

[2015-06-19 23:37] porteriffic commented on #71
Removed Sruthi and Vivek. I'll remove Stephanie once she leaves for Japan. Same for Anvit.

[2015-06-19 23:37] #71 closed

[2015-06-19 23:52] porteriffic commented on #74
Emailed Brett

[2015-06-19 23:52] #74 closed

[2015-06-19 23:58] porteriffic commented on #60
Moving this to the Intellectual-Dating repository.

[2015-06-20 13:31] rmalina commented on #71
josephine
but see stephanie's idea of community building with alumnae of the lab
can you discuss with stephaine how we might do this ?
roger

[2015-06-21 20:05] rmalina opened #78 "Archive Adventures in Crowdfunding Channel"
david marlett doest plan to produce any more podcasts for the crowdfunding channel ( he will for cinemersia) - maybe we should create an archive section for channels that are no longer active ?
or find someone else to produce podcasts for the crowdfunding channel ?
roger @cassininazir @coreysmart92

[2015-06-21 20:07] rmalina opened #79 "remove NCFA partner from home page"
josephine
we need to remove the national crowdfunding association from the home page as
a sponsor/partner @cassininazir
roger

[2015-06-22 17:08] porteriffic commented on #78
@anvit Is there a way we can archive the Adventures in Crowdfunding channel? If not, can we create an archive page?

[2015-06-22 17:10] porteriffic commented on #79
Removed NCFA from home page.

[2015-06-22 17:10] #79 closed

[2015-06-22 17:11] porteriffic commented on #77
Duplicate.

[2015-06-22 17:11] #77 closed

[2015-06-22 20:50] rmalina opened #80 "add disciplines list to polyglot day"
ok

please can you add to the list of languages the list of different disciplines included in polyglot
day as well as the list of languages

right now you only list difrerent languages included not different discipllinesp - the current text is given below

please add the list of specific disciplines

i will do any publicity or blogging or retweeting until the list of disciplines is added

roger
@p

[2015-06-22 20:56] rmalina commented on #78
we need to keep the podcasts up- but somehow indicated that the channel is archival
and we can solicit crowdfunding related podcasts but will need a new channel producer
roger

[2015-06-23 20:13] #80 closed

[2015-06-23 20:15] rmalina opened #81 "change procedure so ENG is indicated for podcast titles in english"
right now podcasts in english dont have ENG as the indicated language of the podcast
podcasts in all other languages indicate the language
if we want to be multilingual we should treat all languages equally
roger
@coreysmart92

[2015-06-23 22:13] heiwanalady commented on #58
Done!

[2015-06-23 22:13] #58 closed

[2015-06-23 22:14] heiwanalady commented on #65
Sent! Will do a follow-up email to those who have not responded this week.

[2015-06-23 22:14] #65 closed

[2015-06-23 22:28] heiwanalady commented on #59
**Just sent Nawar this email:**

Mr. Nawar,

I work with Yvan Tina and Dr. Roger Malina on Creative Disturbance and am currently coordinating the perk fulfillments for our recent Kickstarter. I believe you mentioned you had an Egyptian student in mind as a potential recipient of our International Student Grant. I would love to discuss this further with you.

We are in the middle of sculpting our s

[2015-06-24 04:54] porteriffic commented on #41
Never heard from Dhru. Will use his podcast for a later date whenever we get it.

[2015-06-24 04:54] #41 closed

[2015-06-24 20:21] anvit commented on #78
@porteriffic There isn't a way to archive the channels at the moment but I can create a separate archive page and set up a simple process for showing the archived channels only on the archives page.

[2015-06-24 20:53] porteriffic commented on #78
@anvit Yes, I think ideally we'd like to still have the channel and podcasts available for listening or downloading so a separate page would work, I think. I'll be in the lab Thursday morning around 10am if you'd like to discuss.

[2015-06-24 21:11] anvit commented on #78
@porteriffic Will you still be here around 11am? I'll try coming earlier but I most probably will reach the lab around 11.

[2015-06-24 23:24] porteriffic commented on #78
@anvit Yup! I'll be there. I have to leave around 11:30 though. See you then!

[2015-06-25 00:24] heiwanalady commented on #78
@porteriffic will you still be meeting me and Cassini at the lab at 10am on
Thursday?

On Wednesday, June 24, 2015, porteriffic <notifications@github.com> wrote:

--
--- Sent from Stephanie's iPhone ---

[2015-06-25 00:38] porteriffic commented on #78
@heiwanalady Yup! I'll be there!

[2015-06-25 16:49] heiwanalady commented on #76
@rmalina @cassininazir @porteriffic @sayloo @anvit @heiwanalady

Josephine and I met this morning about how to handle this - and we are going to extend the invitation to Sruthi, Anvil, Cathryn and myself to run The Bold Roast together as an alumnae/alumna team :)
Still need to email Cathryn about this. I'm sure it will be easy to run the channel with 4+ people available to respond to questions or

[2015-06-25 20:30] rmalina commented on #76
i think this is a FANTASTIC idea !!

[2015-06-26 03:12] porteriffic opened #82 "Make sure we are "following" our community on social media platforms"
Go through our Voices and Producers and see if they have Twitter, Facebook, and make sure we are following them.

@anvit Is there a way to check this without having to manually go to each person's "page" on WordPress?

[2015-06-26 16:38] porteriffic commented on #76
Sruthi has agreed to be a producer!

[2015-06-27 08:39] rmalina opened #83 "dead link on podcast"
dead link on podcast

http://creativedisturbance.org/podcast/putting-the-user-back-in-user-experience/

[2015-06-27 16:12] porteriffic commented on #83
@anvit Not sure why the page looks the way it is. This is an old podcast right?

[2015-06-27 17:12] anvit commented on #83
@porteriffic Yes, it's an old one. It seems like the description had embed external slides within the webpage in addition to the link and that was overlapping with the rest of the content on the page. I've removed that.

[2015-06-27 17:21] anvit commented on #83
@porteriffic For the podcast link - the link is correct but audio file is a .wav file and not a .mp3 and the audio player on the site expects an mp3 link. This behavior is also inconsistent across different browsers(for example: chrome will still show the audio player and play the file correctly, while firefox doesn't show the audio player). The best fix would be to convert the .wav to an .mp3 and

[2015-06-27 20:02] porteriffic commented on #83
@anvit Thanks for taking care of that!

@coreysmart92 or @halclark Can one of you please convert this podcast file from .wav to .mp3 and make sure it's functioning on the website correctly on different browsers. Close issue when complete.

[2015-06-29 18:16] cassininazir opened #84 "Complete First Email Template"
@heiwanalady would like to unveil the first email template this week (29 July-4 July). @porteriffic has an email that she will be sending out on Wed to get input for **World Youth Skills Day**.

[2015-06-29 20:30] porteriffic commented on #84
@heiwanalady I can be at the lab on Wednesday morning to discuss/implement.

[2015-06-30 14:06] heiwanalady commented on #84
@porteriffic I will be there on Wednesday. How about 10/11am?

On Monday, June 29, 2015, porteriffic <notifications@github.com> wrote:

--
--- Sent from Stephanie's iPhone ---

[2015-06-30 15:45] porteriffic commented on #84
I can be there as early as 10am. Whichever works!

[2015-06-30 15:48] cassininazir commented on #84
Have a meeting from 10-noon Wed. Can meet with you after.

Cassini Nazir

Clinical Assistant Professor,
School of Arts and Technology and Emerging Communication
The University of Texas at Dallas

From: porteriffic <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/administrative <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, June 29, 20

[2015-06-30 23:44] porteriffic commented on #68
@halclark Please go through Dropbox and clean up. We need to transition producers over to new folders and remove the old ones. Ask @coreysmart92 or myself if you need assistance. Please have this done by July 7. Close when completed.

[2015-06-30 23:46] porteriffic commented on #63
Emailed the community metrics for Polyglot Day.

[2015-06-30 23:46] #63 closed

[2015-06-30 23:47] porteriffic commented on #51
Metrics have been collected. Will add to agenda for Monday 7/6

[2015-06-30 23:47] #51 closed

[2015-06-30 23:47] porteriffic commented on #72
Still have not heard from Bronac or Poe.

[2015-06-30 23:48] porteriffic commented on #83
@coreysmart92 @halclark Has this been taken care of?!

[2015-07-04 09:53] #83 closed

[2015-07-04 09:57] rmalina opened #85 "develop clearer guidelines for people to submit their own podcasts"
to help create a back log of podcasts i have send an email to leonardo authors to submit their own podcasts (ie that the record themselves and send it)

the cheat sheet i sent them is the one for producers but i really think we need one redone for people to submit their own podcasts

ie Creative Disturbance Podcast Submittion Guidelines

can you rework this and keep in mind people who are NOT on o

[2015-07-05 22:54] porteriffic commented on #72
Heard back from Bronac. She will get back to be in the next two days.

[2015-07-08 09:54] rmalina opened #86 "organise dave burraston podcast"
josephine
not sure who this is assigned to to coordinate with burraston to get his podcast
can you assign this to the right person ?
roger

Dave Burraston
4:42 AM (7 hours ago)

to roger, Creative
hi

yes very keen to do this, it will be very good for the rainwire project. i am not sure where we start tho, do u want me to send you a finished podcast of just me talking with some recordings, or do u

[2015-07-09 02:11] porteriffic commented on #86
@rmalina I was originally going to handle this but never heard back from Dave until you emailed him. I can assign another person to this.

[2015-07-09 13:04] rmalina commented on #86
ok fine to reassign
hal ?
roger

[2015-07-10 16:54] porteriffic commented on #84
First email template sent out for World Youth Skills Day

[2015-07-10 16:54] #84 closed

[2015-07-10 16:55] porteriffic commented on #72
Bronac is in the process of filling out forms and getting a podcast ready.

[2015-07-10 16:56] porteriffic commented on #76
Anvit and Stephanie agreed to be producer as well. Have not heard back from Cathryn

[2015-07-12 14:38] rmalina opened #87 "possible new channel Climate sHeros"
possible new channel for discussion monday
@coreysmart92 @porteriffic
 from tara deporte

she has this podcast series called climate (s)heros of women in climate change
Wonderful!
Also, feel free to repost and share our current podcasts for Human Impact Stories:  HumanImpactsInstitute.org/HumanImpactStories

is there an easy way for us to create a channel with her as producer and
then grab her pod

[2015-07-13 22:05] cassininazir commented on #68
DropBox has been upgraded to Pro account.

[2015-07-13 22:29] cassininazir commented on #39
Page updated.

[2015-07-13 22:29] #39 closed

[2015-07-13 22:29] cassininazir commented on #29
This is an old issue. Closing

[2015-07-13 22:29] #29 closed

[2015-07-13 22:37] cassininazir commented on #59
@linamoon including you on this thread.

[2015-07-13 22:38] cassininazir commented on #61
Closing this. Open a new issue for Femgineers when that channel is approved.

[2015-07-13 22:38] #61 closed

[2015-07-13 22:39] #68 closed

[2015-07-15 17:46] rmalina opened #88 "drop box problem"
we still have a drop box problem
can you reply to her ?
roger
Hi

This is Annick Bureaud, the producer of Audiolats.
I wanted to upload 2 new podcasts for my Disturbances Audiolats and Meta-Life but it says that *my* dropbox is full.
I thought that I were uploading in *your* dropbox.
Roger said that I should contact you as I were not the only one that had faced this issue.

the dropbox url I had i

[2015-07-15 19:45] halclark commented on #88
This issue was moved to creativedisturbance/podcasts#138

[2015-07-15 19:45] #88 closed

[2015-07-15 19:46] halclark commented on #87
This issue was moved to creativedisturbance/podcasts#139

[2015-07-15 19:46] #87 closed

[2015-07-15 19:46] halclark commented on #86
This issue was moved to creativedisturbance/podcasts#140

[2015-07-15 19:46] #86 closed

[2015-07-15 19:46] halclark commented on #85
This issue was moved to creativedisturbance/podcasts#141

[2015-07-15 19:46] #85 closed

[2015-07-15 19:46] halclark commented on #82
This issue was moved to creativedisturbance/podcasts#142

[2015-07-15 19:46] #82 closed

[2015-07-15 19:46] halclark commented on #81
This issue was moved to creativedisturbance/podcasts#143

[2015-07-15 19:46] #81 closed

[2015-07-15 19:47] halclark commented on #78
This issue was moved to creativedisturbance/podcasts#144

[2015-07-15 19:47] #78 closed

[2015-07-15 19:47] halclark commented on #76
This issue was moved to creativedisturbance/podcasts#145

[2015-07-15 19:47] #76 closed

[2015-07-15 19:48] halclark commented on #73
This issue was moved to creativedisturbance/podcasts#146

[2015-07-15 19:48] #73 closed

[2015-07-15 19:48] halclark commented on #72
This issue was moved to creativedisturbance/podcasts#147

[2015-07-15 19:48] #72 closed

[2015-07-15 19:48] halclark commented on #66
This issue was moved to creativedisturbance/podcasts#148

[2015-07-15 19:48] #66 closed

[2015-07-15 19:49] halclark commented on #60
This issue was moved to creativedisturbance/podcasts#149

[2015-07-15 19:49] #60 closed

[2015-07-15 19:49] halclark commented on #59
This issue was moved to creativedisturbance/podcasts#150

[2015-07-15 19:49] #59 closed

[2015-07-15 19:49] halclark commented on #57
This issue was moved to creativedisturbance/podcasts#151

[2015-07-15 19:49] #57 closed

[2015-07-15 19:49] halclark commented on #56
This issue was moved to creativedisturbance/podcasts#152

[2015-07-15 19:49] #56 closed

[2015-07-15 19:51] halclark commented on #54
This issue was moved to creativedisturbance/podcasts#153

[2015-07-15 19:51] #54 closed

[2015-07-15 19:51] halclark commented on #53
This issue was moved to creativedisturbance/podcasts#154

[2015-07-15 19:51] #53 closed

[2015-07-15 19:51] halclark commented on #49
This issue was moved to creativedisturbance/podcasts#155

[2015-07-15 19:51] #49 closed

[2015-07-15 19:52] halclark commented on #48
This issue was moved to creativedisturbance/podcasts#156

[2015-07-15 19:52] #48 closed

[2015-07-15 19:52] halclark commented on #47
This issue was moved to creativedisturbance/podcasts#157

[2015-07-15 19:52] #47 closed

[2015-07-15 19:52] halclark commented on #30
This issue was moved to creativedisturbance/podcasts#158

[2015-07-15 19:52] #30 closed

[2015-07-15 19:53] halclark commented on #27
This issue was moved to creativedisturbance/podcasts#159

[2015-07-15 19:53] #27 closed

[2015-07-15 19:53] halclark commented on #1
This issue was moved to creativedisturbance/podcasts#160

[2015-07-15 19:53] #1 closed